<%
var last;
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
}
%>

<%- partial('profile') %>
<span class="archive-page-counter">
    <% var posts_length = site.posts.length %>
    <%-  _p("counter.archive_posts", site.posts.length) %>
</span>
    <% site.posts.sort('date', 'desc').each(function(item){ %>
        <% var year = item.date.year(); %>
        <% if (last != year){ %>
            <% if (last != null){ %>
                </ul>
    			</div>
            <% } %>
            <% last = year; %>
    		<div class="archive" id="archive">
            	<h3 class="archive-title"><%= year %></h3>
            	<ul>
        <% } %>
        <%- partial('_partial/archive-post', {item: item, index: true}) %>
    <% }); %>
    </ul>
    </div>
<div class="archive" id="tagcloud">
	<h3 class="archive-title"><%= __('tagcloud') %></h3>
	<ul class="ct-list">
		<% site.tags.map(function(tag){  %>
    		<a href="<%- config.root %>tags/<%= tag.name %>/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %><span><%= tag.length %></span></a>
    	<% }) %>
    </ul>
</div>
<div class="archive" id="category">
	<h3 class="archive-title"><%= __('category') %></h3>
	<ul class="ct-list">
		<% site.categories.map(function(category){  %>
    		<a href="<%- config.root %>categories/<%= category.name %>/#<%= category.name %>" title="<%= category.name %>"><%= category.name %><span><%= category.length %></span></a>
    	<% }) %>
    	</div>
    </ul>
</div>