<nav class="main-nav">
	<% if (!is_home()){ %>
	    <a href="<%- config.root %>">← <%= __('home') %></a>
	<% } %>
	<% for (var i in theme.menu){ %>
	    <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
	<% } %>
	<a class="cta" href="/atom.xml" data-no-instant><%= __('rss') %></a>
</nav>